In [1]:
import pandas as pd
import numpy as np

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.521162  0.157861
   2  0.026080 -0.358662
   3 -0.295239  0.516485
G2 1 -0.226234 -0.029164
   2  0.151895  1.034584
   3 -0.787498  1.970134

In [5]:
df.loc['G1']

          A         B
1 -0.521162  0.157861
2  0.026080 -0.358662
3 -0.295239  0.516485

In [6]:
df.loc['G1'].loc[1]

A   -0.521162
B    0.157861
Name: 1, dtype: float64

In [7]:
df.index.names

FrozenList([None, None])

In [8]:
df.index.names = ['Group','Num']

In [9]:
df

                  A         B
Group Num
G1    1   -0.521162  0.157861
      2    0.026080 -0.358662
      3   -0.295239  0.516485
G2    1   -0.226234 -0.029164
      2    0.151895  1.034584
      3   -0.787498  1.970134

In [10]:
df.xs('G1')

            A         B
Num
1   -0.521162  0.157861
2    0.026080 -0.358662
3   -0.295239  0.516485

In [11]:
df.xs(['G1',1])

C:\Users\ridel\AppData\Local\Temp\ipykernel_18956\580597333.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

A   -0.521162
B    0.157861
Name: (G1, 1), dtype: float64

In [12]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.521162  0.157861
G2    -0.226234 -0.029164